/* JournalListPage.styles.css */

.container {
  width: 100%;
  height: 100vh;
  max-width: 600px; /* Limiting the maximum width for centering */
  margin: 0 auto; /* Center horizontally */
  padding: 20px;
  background-color: #263238; /* Dark midnight blue background */
  color: #FFFFFF; /* Light text */
}

.navigation {
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #263238; /* Dark midnight blue background */
  color: #FFFFFF; /* Light text */
  border: 1px solid #CFD8DC; /* Light border */
  border-radius: 4px;
  text-decoration: none;
}

.button:hover {
  background-color: #37474F; /* Darken on hover */
}

.quotes-list {
  margin-top: 20px;
}

.quotes-list > * {
  margin-bottom: 20px; /* Margin between each journal summary item */
}
