option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: back_end/wsgi.py

container_commands:
  01_download_node:
    command: "curl -sL https://rpm.nodesource.com/setup_lts.x | bash -"
    ignoreErrors: false
    
  02_install_node:
    command: "yum install -y nodejs"
    ignoreErrors: false

  03_build_react:
    command: "cd /var/app/staging/react_app && npm install && npm run build && cd .."
    ignoreErrors: false
